specs/XS_IM_Variazione_Adempimenti_VDA.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema targetNamespace="http://www.inps.it/schema/DM/XS_IM_Variazione_Adempimenti_VDA.xsd"
           xmlns:dm="http://www.inps.it/schema/DM/XS_IM_Variazione_Adempimenti_VDA.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified" elementFormDefault="unqualified">
  <!-- 
    -->
  <xs:element name="inps" type="dm:VariazioneDenominazioneAzienda" />
  <!-- 
   -->
  <xs:complexType name="VariazioneDenominazioneAzienda">
    <xs:annotation>
      <xs:documentation>
        Messaggio di richiesta di variazione denominazione azienda
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="operazione" type="dm:Operazione" maxOccurs="1" minOccurs="1" />
      <xs:element name="chiamante" type="dm:Chiamante" maxOccurs="1" minOccurs="1" />
      <xs:element name="richiedente" type="dm:Richiedente" maxOccurs="1" minOccurs="1" />
      <xs:element name="impresa" type="dm:Impresa" maxOccurs="1" minOccurs="1" />
      <xs:element name="adempimento" type="dm:Adempimento" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:complexType name="Operazione">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative al tipo di operazione richiesta con il messaggio XML.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nome" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="VARIAZIONE" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tipo" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="VDA" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="entita" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ADEMPIMENTI" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tipoimpresa" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DM" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:complexType name="Chiamante">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative all'ente chiamante.
        In questo caso: ente = INFOCAMERE, riferimento = IDENTIFICATIVO PRATICA, data = DATA INOLTRO.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ente" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INFOCAMERE" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="riferimento" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="data" type="xs:date" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:complexType name="Richiedente">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative all'intermediario dell'impresa.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codice-fiscale" type="dm:CodiceFiscalePersona" maxOccurs="1" minOccurs="1" />
      <xs:element name="cognome" type="dm:Cognome" maxOccurs="1" minOccurs="1" />
      <xs:element name="nome" type="dm:Nome" maxOccurs="1" minOccurs="1" />
      <xs:element name="indirizzo" type="dm:Indirizzo" maxOccurs="1" minOccurs="1" />
      <xs:element name="telefono" type="dm:Telefono" maxOccurs="1" minOccurs="0" />
      <xs:element name="email" type="dm:Email" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:complexType name="Impresa">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative all'impresa oggetto della variazione.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codice-fiscale" type="dm:CodiceFiscaleImpresa" maxOccurs="1" minOccurs="1" />
      <xs:element name="matricola" type="dm:Matricola" maxOccurs="1" minOccurs="1" />
      <xs:element name="sede-competenza" type="dm:SedeCompetenza" maxOccurs="1" minOccurs="0" />
      <xs:element name="cciaa" type="dm:CCIAA" maxOccurs="1" minOccurs="0" />
      <xs:element name="numero-rea" type="dm:NumeroREA" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:complexType name="Adempimento">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative all'adempimento di variazione.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="denominazione" type="dm:DenominazioneImpresa" maxOccurs="1" minOccurs="1" />
      <xs:element name="forma-giuridica" type="dm:FormaGiuridica" maxOccurs="1" minOccurs="1" />
      <xs:element name="data-decorrenza" type="xs:date" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:simpleType name="CodiceFiscalePersona">
    <xs:annotation>
      <xs:documentation>
        Codice fiscale di persona da 16 caratteri.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Cognome">
    <xs:annotation>
      <xs:documentation>
        Cognome della persona.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Nome">
    <xs:annotation>
      <xs:documentation>
        Nome della persona.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="CodiceFiscaleImpresa">
    <xs:annotation>
      <xs:documentation>
        Codice fiscale dell'impresa.
        N.B. Società da 11 caratteri, impresa individuale da 16 caratteri.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{11}" />
      <xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Matricola">
    <xs:annotation>
      <xs:documentation>
        Matricola dell'impresa: identificativo della posizione dell'impresa nell'area INPS DM.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{10}" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:complexType name="SedeCompetenza">
    <xs:annotation>
      <xs:documentation>
        Estremi della sede di competenza INPS destinataria della pratica.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codice" maxOccurs="1" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="denominazione" type="xs:string" maxOccurs="1" minOccurs="1" />
      <xs:element name="provincia" type="dm:Provincia" maxOccurs="1" minOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:simpleType name="CCIAA">
    <xs:annotation>
      <xs:documentation>
        Sigla della provincia di appartenenza della CCIAA che ha variato l'impresa.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="NumeroREA">
    <xs:annotation>
      <xs:documentation>
        Numero REA assegnato all'impresa.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,10}" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:complexType name="Indirizzo">
    <xs:annotation>
      <xs:documentation>
        Informazioni relative all'indirizzo di persona o di impresa.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="toponimo" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="via" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="26" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="civico" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cap" minOccurs="1" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="frazione" minOccurs="0" maxOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="comune" type="dm:Comune" minOccurs="1" maxOccurs="1" />
      <xs:element name="provincia" type="dm:Provincia" minOccurs="1" maxOccurs="1" />
      <xs:element name="stato" type="dm:Stato" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <!-- 
    -->
  <xs:simpleType name="Telefono">
    <xs:annotation>
      <xs:documentation>
        Prefisso e numero di telefono.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,14}"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Email">
    <xs:annotation>
      <xs:documentation>
        Indirizzo di posta elettronica.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9_\-]+\.)*[A-Za-z0-9_\-]+@([A-Za-z0-9_\-]+\.)+[A-Za-z0-9_\-]*"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="DenominazioneImpresa">
    <xs:annotation>
      <xs:documentation>
        Denominazione dell'impresa: testo libero di max 49 caratteri.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="49" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="FormaGiuridica">
    <xs:annotation>
      <xs:documentation>
        Forma giuridica dell'impresa.
        N.B. Corrisponde al codice della classificazione INPS di 2 caratteri.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Comune">
    <xs:annotation>
      <xs:documentation>
        Denominazione del comune.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Provincia">
    <xs:annotation>
      <xs:documentation>
        Sigla della provincia.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
  <xs:simpleType name="Stato">
    <xs:annotation>
      <xs:documentation>
        Denominazione dello stato.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <!-- 
    -->
</xs:schema>